.wrap {
  overflow: hidden;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.name {
  margin-right: 60%;
  font-size: 24px;
  font-weight: bold;
  color:#05417B
}

ul {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
}

.nav-home {
  margin-right: 20px;
  list-style: none;
  color: #05417B;
  font-weight: bold;
}

.nav-business {
  margin-right: 20px;
  list-style: none;
  color: #05417B;
  font-weight: bold;
}

.nav-careers {
  margin-right: 20px;
  list-style: none;
  color:#05417B;
  font-weight: bold;
}

.nav-contact {
  margin-right: 20px;
  list-style: none;
  color:#05417B;
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 0 0 auto;
  padding: 50px 0;
  display: block;
  width: 50%;
  z-index: 2;
}

.coachtech {
  margin-top: -200px;
  margin-right: 100px;
  z-index: 1;
}

.coachtech__blue-box {
  width: 80%;
  height: 200px;
  background-color: #05417B
} 

.coachtech__ttl {
  font-size: 60px;
  font-weight: 400;
}