.name {
  padding: 25px;
  font-size: 24px;
  font-weight: bold;
  color:#05417B
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav-home {
  list-style: none;
  color: #05417B;
}

.nav-business {
  list-style: none;
  color: #05417B;
}

.nav-careers {
  list-style: none;
  color:#05417B;
}

.nav-contact {
  list-style: none;
  color:#05417B;
}